
$sell-width: 700px;

// @mixin font_basic($color: #333, $size: 16px, $weight: null, $line: null, $aline: null) {
//   color      : $color;
//   font-size  : $size;
//   font-weight: $weight;
//   line-height: $line;
//   text-align : $aline;
// }




.link-color:link, .link-color:visited, .link-color:hover, .link-color:active {
  color: #0099E8;
}

.single-container{
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  background-color: #f5f5f5;
  color: #333;

  .single-header{
    width: $sell-width;
    max-width: $sell-width;
    margin: 0 auto;
    height: 130px;

    h1{
      // font-size: 14px;
      text-align: center;
    }
  }

  .single-main{
    width: $sell-width;
    max-width: $sell-width;
    background-color: #fff;
    margin: 0 auto;

    .l-single-container{

    }
    .buy-item-container{

      #sell-container{
        .sell-container-inner{
          h2{
            font-size: 22px;
            text-align: center;
            padding: 45px;
            font-weight: bold;

          }
        }
        .sell-form{
          height: 100%;
        }
      }
    }
  }


  .single-footer{
    width: $sell-width;
    max-width: $sell-width;
    margin: 0 auto;

    height: 150px;

              .sell-price{
                .form-group{
                  @include font_basic(null, null, null, 60px, null);
                  display: list-item;
                  float: right;
                  border-bottom: #888 solid 1px;
                  width: 400px;
                  padding: 12px 0;
                  .l-left{
                    font-weight: bold;
                    float: left;
                  }
                  .l-right{
                    float: right;
                    font-weight: normal;
                    .sell-price-input{
                    float: right;
                    font-size: 12px;
                    margin-right: 8px;
                    }
                  }
                  .input-default{
                    width: 160px;
                    float: right;
                    font-size: 14px;
                    text-align: right;
                  }
                }
                .commission{
                  @include font_basic(null, null, null, 40px, null);
                  display: list-item;
                  float: right;
                  border-bottom: #888 solid 1px;
                  width: 400px;
                  padding: 12px 0;
                  .l-left{
                    float: left;
                  }
                  .l-right{
                    float: right;
                  }
                  .input-default{
                    width: 160px;
                    float: right;
                  }
                }
                .profit{
                  @include font_basic(null, 16px, bold, 50px, null);
                  display: list-item;
                  float: right;
                  width: 400px;
                  padding: 12px 0 40px 0;
                  .l-left{
                    float: left;
                    font-size:16px;
                  }
                  .l-right{
                    float: right;
                  }
                }
              }
            }

          }


          .sell-btn-box{
            padding: 40px;
            .btn-default{
              @include font_basic(#fff, 14px, null, 48px, center);
              display: block;
              border: 1px solid transparent;
              transition: all ease-out .3s;
              cursor: pointer;
            }
            .btn-red{
              @include div_basic(100%, null, #ea352d);
              margin-top: 40px;
            }
            .btn-gray{
              @include div_basic(45%, null, #aaa);
              margin: 24px auto 0;
              text-decoration: none;
            }
          }


        }

      }
    }
  }
}

