%aside.app-banner
  = image_tag "mercari_banner.jpg"
  .app-banner-pc
    .app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon
    %figure
      = image_tag "cellphone.png"
